@media only screen and (max-width: 600px) {
  /* reduce the font size for all text */
  body {
    width: 100%;
  }

  /* increase the size of buttons for easier tapping on mobile devices */
  button {
    padding: 10px 20px;
  }

  /* make sure images don't overflow their container */
  img {
    max-width: 100%;
  }

  /* stack navigation items vertically instead of horizontally */
  nav ul {
    flex-direction: column;
  }

  /* hide non-essential elements on small screens */
  .hide-on-small {
    display: none;
  }

}



body {
    margin: 0;
    overflow: hidden;
  }
canvas {
    display: block;
  }

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 25%;
  z-index: 1; /* lower than the z-index of the footer */
  object-fit: cover;
}


#canvas-container {
  z-index: 1;
  width: 100%;
  height: 100%;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.208);
    color: rgba(0, 0, 0, 0.116);
    text-align: center;
    z-index: 10; /* greater than the z-index of the video */
  }

#p{
  font-size: 10px;
}

  #showsButton, #greenButton, #contactButton, #projectsButton, #homeButton, #musicButton, #aboutButton, #supportButton{
    background-color: transparent;
    color: white;
    text-shadow: 0 0 5px rgb(150, 34, 165), 0 0 5px rgba(128, 0, 128, 0.288);
    outline: 9px rgba(128, 0, 128, 0.288);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    margin: auto;
}


 #greenButton{
    background-color: transparent;
    color: white;
    text-shadow: 0 0 5px rgb(150, 34, 165), 0 0 5px rgba(128, 0, 128, 0.288);
    outline: 9px rgba(128, 0, 128, 0.288);
    display: inline-flex;
    width: 60px;
    height: 30px;
    margin: auto;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.208);
    text-align: center;
}


#greenButton:hover {
  box-shadow: 0 0 15px rgb(43, 219, 146);
}

#homeButton:hover {
  box-shadow: 0 0 15px rgb(199, 43, 219);
}
#aboutButton:hover {
  box-shadow: 0 0 15px rgb(199, 43, 219);
}
#musicButton:hover {
  box-shadow: 0 0 15px rgb(199, 43, 219);
}

#showsButton:hover {
  box-shadow: 0 0 15px rgb(43, 190, 219);
}

#supportButton:hover {
  box-shadow: 0 0 15px rgb(43, 190, 219);
}

#projectsButton:hover {
  box-shadow: 0 0 15px rgb(43, 190, 219);
}
#contactButton:hover{
  box-shadow: 0 0 15px rgb(199, 43, 219);
}

.contact-form {
  background-color: #d05b5b;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 50px auto;
  max-width: 500px;
}

.contact-form h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-form form input,
.contact-form form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.contact-form form button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #cc005c;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.contact-form form button:hover {
  background-color: #68b874;
}

#status {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}


.scrollable-box {
  height: 200px;
  overflow-y: scroll;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 400px;
}

.h2shows{
  color: rgb(0, 255, 229);
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.scrollable-box p {
  color: hotpink;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.scrollable-content {
  font-size: 1.2rem;
}